// Standard form styles
input:not([type='checkbox']):not([type='radio']), select, textarea{
	appearance: none;
	border: 2px solid transparent;
	border-radius: 3px;
	background-color: darken($white, 4);
	padding: 5px 10px;
	font-size: 1rem;
	font-family: $bodyFont;
	color: $black;
	transition: border 300ms ease-in-out;

	&[readonly]{
		cursor: not-allowed;
	}

	&:not([readonly]):hover{
		border: 2px solid lighten($blue, 30);
	}
	&:focus{ outline: none; }
	&:not([readonly]):focus{
		border: 2px solid $blue;
	}
}
input[type='submit']{cursor:pointer;}

button{
	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;

	&:focus{
		outline: none;
	}
}



// Placeholder colours (via mixin)
@include placeholder-color("input", lighten($black, 10));
@include placeholder-color("textarea", lighten($black, 10));
@include placeholder-color("input.invert", $white);
@include placeholder-color("textarea.invert", $white);

@include autofill-color("input", $white, lighten($black, 10));
@include autofill-color("textarea", $white, lighten($black, 10));
@include autofill-color("input.invert", $black, $white);
@include autofill-color("textarea.invert", $black, $white);


// Arrows for select tags (only on webkit browsers)
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select{
		background-position: calc( 100% - 7px) center;
		background-repeat: no-repeat;
		background-image: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDAwMDAiLz4KICA8L2c+Cjwvc3ZnPgo=');
		background-size: 18px auto;
		padding-right: 30px;
	}
}

