// Typography
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Muli:300,400,600');

$titleFont: 'Josefin Sans', sans-serif;
$bodyFont: 'Muli', sans-serif;
$fontSizeBase: 15px;
$lineHeightBase: 1.4rem;

// Breakpoints
$tabletWidth: 1024px;
$mobileWidth: 640px;

$smallWidth: 1150px;
$innerWidth: 1366px;
$outerWidth: 1600px;